h1{
    color: red;
    text-transform: capitalize;
    letter-spacing: 10px;

}
h2{
    color: green;
    word-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
}
h3{
    color: blue;
    text-align: end;

}
p{
    
    line-height: 30px;
    text-align: justify;
    height: 150px;
    width: 200px;
    border: 2px solid red;
    overflow-y: scroll;

}
div{
    display: grid;
   justify-content: center;
}
#increase{
    
    letter-spacing: 0cap;
    color: greenyellow;
    font-size: 60px;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
  
}
#box{
    color: red;
    padding: 20px;
    margin: 50px 50px;

}
